@import 'var.scss';
@import 'mixin.scss';
@import 'settings.scss';
@import 'helpers.scss';

body {
  font-size: $base-font-size;
  background-color: #c08b5c;
}

.to-do {
  margin: 120px auto;
  max-width: 650px;

  &__add-tasks-form {
    margin-bottom: 13px;
    @include flex();
  }

  &__add-task-input {
    padding: 2px;
    flex-grow: 1;
    font-size: $base-font-size;
    letter-spacing: 1px;
    caret-color: rgba($primary-color, .4);
    @include reset(inputText);
    border-bottom: 1px solid rgba($primary-color, .4);
    background-color: #c08b5c;
  }

  &__settings-panel {
    margin-bottom: 13px;
    @include flex(flex-start);
    font-size: 1rem;

    .icon {
      font-size: 1.5rem;
    }
  }

  &__pagination {
    @include flex(flex-start);
    flex-wrap: nowrap;
    border-radius: 30px;
  }

  &__right-arrow-icon,
  &__left-arrow-icon {
    &:hover {
      border-radius: 30px;
    }
  }

  &__right-arrow-icon {
    &::before {
      display: inline-block;
      transform: rotate(180deg) translateY(1px);
    }

    cursor: pointer;
  }

  &__filtering {
    margin: 0 $LR-margin-inside-settings-panel 0 auto;
  }

  &__filtering-form {
    @include flex();
  }

  &__filtering-input-label {
    .icon.icon-search1 {
      font-size: 1.4rem;
    }
  }

  &__filtering-input {
    padding: 2px;
    @include reset(inputText);
    width: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba($primary-color, .4);
    transition: width .2s, opacity .2s;
    opacity: 0;

    &.active {
      width: 120px;
      opacity: 1;
    }
  }

  &__tasks-length {
    margin: 0 $LR-margin-inside-settings-panel;
  }

  &__info-panel {
    margin-top: 10px;
    display: none;
    font-size: 1rem;

    &.visible {
      @include flex(space-between);
    }
  }

  &__select-tasks-panel {
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 1.4rem;
    @include reset(select);
    font-size: 1rem;
    border-radius: 2px;
    background-image: url(../img/icons/arrow_down.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.4rem;
    background-color: #c0bd5c;
  }

  &__select-default-label {
    display: none;
  }

  &__task-operation {
    @include flex();
  }

  &__selected-tasks-operation-panel {
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    transition: max-width .5s;
    overflow: hidden;

    &.visible {
      max-width: 105px;
    }
  }

  &__remove-selected-tasks-btn {
    @include reset(button);
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tasks-container {
  &__task-item {
    margin: 3px 0;
    padding: 10px 0;
    @include flex(space-between);
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: $primary-color;

    &:hover {
      background-color: lighten($primary-color, 10);
    }

    &:hover > .tasks-container__remove-task-item {
      display: block;
    }

    &.hidden {
      display: none;
    }
  }

  &__task-content-container {
    margin: 0 3px;
    @include flex();
  }

  &__task-checked-item {
    margin: 0 8px 0 5px;
    @include reset(checked);
    width: 19px;
    height: 19px;
    transition: background-color .2s;

    &::after {
      content: '\e902';
      @include absolute(50%, 50%);
      display: none;
      font-family: 'icomoon';
      transform: translate(-50%, -50%);
    }

    &:hover::after {
      display: inline-block;
    }

    &:checked {
      background-color: $black;
    }

    &:checked::after {
      display: inline-block;
      color: $primary-color;
    }

    &:checked + .tasks-container__task-text-item {
      text-decoration: line-through;
    }
  }

  &__remove-task-item {
    margin: 0 5px;
    display: none;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.last-visited-page-alert {
  display: inline-block;
  max-width: 0;
  white-space: nowrap;
  background-color: #c0bd5c;
  transition: max-width .5s;
  overflow: hidden;

  &.visible {
    margin: 0 5px;
    max-width: 228px;
  }

  &__content {
    padding: 4px;
  }

  &__page-number {
    @include circle(21px);
  }

  &__return-link {
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}