@import 'var.scss';
@import 'mixin.scss';
@import 'settings.scss';
@import 'helpers.scss';

body {
  font-size: 1.6rem;
}

.to-do {
  margin: 120px auto;
  max-width: 650px;

  &__form {
    @include flex();
  }

  &__set-text {
    padding: 2px;
    flex-grow: 1;
    font-size: 1.6rem;
    @include reset(inputText);
    border-bottom: 1px solid $black;
  }

  .task-item {
    padding: 10px 0;
    @include flex(space-between);
  }
}