// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// NATIVE
$scrollBarWidth: 17px;

// COLORS
$black: #000000;
$white: #ffffff;
$favouriteBlueColor: #4a6da7;

$primary-color: blue;