// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// NATIVE
$scrollBarWidth: 17px;

// COLORS
$black: #000000;
$white: #ffffff;
$primary-color: yellowgreen;
$favouriteBlueColor: #4a6da7;

// THE SPACES
$basic-space: 12px;

// GRADIENTS
$gradient0: #c04848, #480048;
$gradient1: #4389a2, #4389a2;
$gradient2: #314755, #26a0da;
$gradient3: #2b5876, #4e4376;
$gradient4: #799f0c, #acbb78;
$gradient5: #aa4b6b, #6b6b83, #3b8d99;
$gradient6: #c31432, #240b36;
$gradient7: #26A0C6, #355c7d;
$gradient8: #dd5e89, #f7bb97;
$gradient9: #eacda3, #d6ae7b;
$gradient10: #d66d75, #e29587;
$gradient11: #aa076b, #61045f;