// RWD
$breakpoints: (
  small: 450px,
  phone: 640px,
  medium: 768px,
  tablet: 1024px,
  large: 1200px,
  xlarge: 1440px
);

// FONT
$base-font-size: 1.5rem;

// COLORS
$primary-color: #6889ff;
$secondary-dark-color: #666666;
$checked-task-color: #d8dadd;
$bg-2nd-color: #dbdbdb;
$color2: #ffac68;
$color3: #8c9fe6;

$black: #000000;
$white: #ffffff;

// PROJECT
$LR-margin-inside-settings-panel: 5px;