@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4z7yfo');
  src:  url('fonts/icomoon.eot?4z7yfo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4z7yfo') format('truetype'),
    url('fonts/icomoon.woff?4z7yfo') format('woff'),
    url('fonts/icomoon.svg?4z7yfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check1:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e903";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-checkmark1:before {
  content: "\e905";
}
.icon-cancel1:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e900";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-cross:before {
  content: "\ea0f";
}
