@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dfdwjz');
  src:  url('fonts/icomoon.eot?dfdwjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dfdwjz') format('truetype'),
    url('fonts/icomoon.woff?dfdwjz') format('woff'),
    url('fonts/icomoon.svg?dfdwjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfinder_music_player_black-07_3695052:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e910";
}
.icon-zoom:before {
  content: "\e910";
}
.icon-magnifier:before {
  content: "\e910";
}
.icon-magnifying-glass:before {
  content: "\e910";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-search1:before {
  content: "\e90c";
}
.icon-search11:before {
  content: "\e90d";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e906";
}
.icon-remove:before {
  content: "\e906";
}
.icon-dismiss:before {
  content: "\e906";
}
.icon-checkmark1:before {
  content: "\e905";
}
.icon-cancel1:before {
  content: "\e901";
}
.icon-cancel2:before {
  content: "\e900";
}
.icon-delete:before {
  content: "\e90b";
}
.icon-keyboard_arrow_down:before {
  content: "\e90e";
}
.icon-keyboard_arrow_right:before {
  content: "\e907";
}
.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-check1:before {
  content: "\e904";
}
.icon-trash-2:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e903";
}
.icon-sort:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e902";
}
