@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tb6r3x');
  src:  url('fonts/icomoon.eot?tb6r3x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tb6r3x') format('truetype'),
    url('fonts/icomoon.woff?tb6r3x') format('woff'),
    url('fonts/icomoon.svg?tb6r3x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bin2:before {
  content: "\e9ad";
}
